:root {
  --bg-color-footer: #E0DED7;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-footer, #E0DED7);
}