@font-face {
  font-family: 'avenir';
  src: url(../../_fonts/avenir-medium.otf);
}

body {
  font-family: 'avenir', Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  .container {
    position: relative;
  }
}