@font-face {
  font-family: 'avenir';
  src: url(../../_fonts/avenir-medium.otf);
}

body {
  font-family: 'avenir', Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  body {
    height: 100vh;
  }

  .container {
    position: relative;
  }
}

@media screen and (min-width: 601px) {
  .container {
    display: grid; 
    grid-template-columns: 250px 4fr;
    grid-template-rows: .1fr 4fr .1fr;
    grid-template-areas: 
                  "aside nav"
                  "aside main-content"
                  "footer footer"
  }
}