:root {
  --font-color-filter-title: #ffffff;
}

@media screen and (max-width: 600px) {
  .filter-section__title {
    display: none;
  }
}

.filter-section__title {
  font-size: 24px;
  color: var(--font-color-filter-title, #ffffff);
}