:root{
  --font-color-input: #000000;
}

.nav__search-field {
  border-radius: 6px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px 0;
  width: 100%;
  max-width: 70%;
  text-indent: 10px;
  margin: 10px 5px;
}

::placeholder {
  font-size: 14px;
  color: var(--font-color-input, #000000);
  opacity: 1; /* In firefox color works only with opacity */
}

@media screen and (max-width: 400px) {
  ::placeholder {
    font-size: 12px;
  }
}